/* title text #212121; */
/* цвет основного текста #757575; */
/* цвет адреса #FFFFFF; */
/* цвет ссылок у футере rgba(255, 255, 255, 0.6); */
/* акцент #2196F3; */
/* background основной: #E5E5E5; */
/* background команды: #F5F4FA; */
/* background футер и герой: #2F303A; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-heroy-background-color: #2f303a;
  --background-komandy: #f5f4fa;
  --color-link-footer: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* Логотип первая часть */
.logo-primary {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/* Логотип вторая часть */
.logo-secondary {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
/* Логотип вторая часть в футере */
.logo-secondary-footer {
  font-family: Raleway, sans-serif;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
/* Навигация */
.site-nav {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.auth-nav .link {
  color: var(--primary-text-color);
}
/* Секция  */
.section {
  background-color: var(--primary-white-color);
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.hidden-header {
  visibility: hidden;
}
/* Герой */
.heroy {
  background-color: var(--footer-heroy-background-color);
}
.heroy-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* Особенности */
.features-caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
/* Список работников */
.workers {
  background-color: var(--background-komandy);
}
.workers-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* text-align: center; */
  color: var(--title-text-color);
}
.workers-position {
  font-weight: normal;
  line-height: 1.7;
}

/* Доступность */

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-footer .link:hover,
.auth-footer .link:focus {
  color: var(--accent-color);
}
.buttons:hover,
.buttons:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
/* футер */
.footer {
  background-color: var(--footer-heroy-background-color);
}
.auth-footer .link {
  color: var(--color-link-footer);
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.buttons {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Cтраница Portfolio */
.portfolio-caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.button-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}
.button-caption:hover,
.button-caption:focus,
.portfolio:hover,
.portfolio:focus {
  color: var(--accent-color);
}
